
* {
    padding: 0;
    margin: 0;
}

.menu_container {
    background-image: linear-gradient(45deg, #6788b6, #66dba6,#ff443b);
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 1.4rem;
}

.logo_section img {
    width: 7rem;
}

.menu_section {
    display: flex;
    list-style: none;
}

.menu_section li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    cursor: pointer;
}

.menu_section li:hover {
    color: aqua;
}

.banner_img img {
    width: 19rem;
}

.banner_section {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/gradiant_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 3.2rem;
    color: rgb(64, 8, 82);
}

.description {
    color: rgb(59, 9, 92);
    font-size: 1.3rem;
    margin-top: .7rem;
}

.big_btn {
    font-size: 18px;
    background-image: linear-gradient(45deg, #6788b6, #66dba6,#ff443b);
    padding: 15px;
    border: none;
    margin-top: 1rem;
    color: rgb(50, 4, 80);
    border-radius: 5px;
    box-shadow: 0px 0px 15px 3px white;
    font-weight: bold;
}


.about_body {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    flex-direction: row-reverse;
}

.about_section h1{
    padding-top: 1.5rem;
    text-align: center;
}

.about_img img {
    width: 19rem;
}

.about_text h3 {
    font-size: 27px;
    margin-bottom: 1rem;
}

.about_text p {
    font-size: 1.2em;
    margin-bottom: .6rem;
}

.service_section {
    background-image: linear-gradient(45deg, #6788b6, #66dba6,#ff443b);
    padding: 3rem 0;
}

.service_card {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.box {
    width: 14rem;
    text-align: center;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 15px 2px rgb(255, 255, 255);
}

.card_img {
    width: 4rem;
}

.card_btn {
    padding: 8px 15px;
    font-size: 1rem;
    margin-top: .8rem;
    background-color: rgb(59, 232, 255);
    color: rgb(64, 3, 66);
    border: none;
    border-radius: 5px;
}

.box h2 {
    margin: .5rem 0;
}

.footer_section {
    display: flex;
    justify-content: space-around;
    padding: 4rem 10rem;
}

.section_part {
    width: 10rem;
}

.section_part_tow {
    width: 15.9rem;
}

.footer_section li {
    list-style: none;
}

.footer_icon {
    width: 10rem;
}

.footer_description {
    line-height: 1.8rem;
}

footer {
    background-color: #66dba6;
}

.footer_title {
    margin-bottom: 2.5rem;
}

.links {
    margin-bottom: .5rem;
}

footer .copy_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy_right hr{
    width: 80%;
}

.copy_right small {
    padding: 1.5rem 0;
}