
* {
    padding: 0;
    margin: 0;
}

.menu_container {
    background-color: #424141;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 1.4rem;
}

.logo_section img {
    width: 7rem;
}

.menu_section {
    display: flex;
    list-style: none;
}

.menu_section li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    cursor: pointer;
}

.menu_section li:hover {
    color: aqua;
}
